<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">ARSDK</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isIndex}}
                <li class="active"><a href="/">SDK</a></li>
            {{else}}
                <li><a href="/">SDK</a></li>
            {{/if}}

            {{#if isCreate}}
                <li class="active"><a href="/create">Create</a></li>
            {{else}}
                <li><a href="/create">Create</a></li>
            {{/if}}

            {{#if isDownload}}
                <li class="active"><a href="/download">Download</a></li>
            {{else}}
                <li><a href="/download">Download</a></li>
            {{/if}}

            
        </ul>
    </div>
</nav>